<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Contributor</h3>
                <p>Lorenzo Ivan Young</p>
            </div>
            <div class="col-md-4">
                <h3>Github Repo</h3>
                <p>https://github.com/TheDoodleBear/comp4513-asg02</p>
            </div>
        </div>
    </div>
</footer>