<footer class="h-[80px] w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between ">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400 "> Github Repo: <a href="https://github.com/TheDoodleBear/comp4513-asg02 " class="hover:underline ">https://github.com/TheDoodleBear/comp4513-asg02</a>. © 2023 All Rights Reserved.
    </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0 ">
            <li>
                <a href="# " class="mr-4 hover:underline md:mr-6 ">Contributor =></a>
            </li>
            <li>
                <a href="mailto:lyoun306@myroyal.ca " class="mr-4 hover:underline md:mr-6 ">Lorenzo Ivan Young</a>
            </li>
        </ul>
    </div>
</footer>