<header class="w-full h-[80px] p-4 bg-white text-center border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <h2 class="text-3xl text-gray-500 dark:text-gray-400">Assignment #2 for COMP4513</h2>
    <a href="/logout"><button type="submit" class=" text-white font-bold py-2 px-4 border border-blue-700 rounded bg-gradient-radial from-cyan-400 to-blue-500 hover:from-pink-300 hover:to-rose-950">Logout</button></a>
</header>